@import "macchiato.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 15px;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
    border: 2px solid @surface2;  
    border-radius: 1rem;
}

#workspaces button:hover {
    color: #8793ff;
}

#workspaces button.urgent {
  color: @peach;
  font-weight: bold;
}

#workspaces button.empty {
  background-color: @lavender;
  color: @base;
}

/* Активное окно */
#window {
  background-color: @surface0;
  color: @lavender;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

/* Компактные блоки справа */
#network,
#wireplumber,
#tray,
#clock{
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
  border-radius: 1rem;
  margin-right: 1rem;
}

#network {
    color: @green;
}

#network.disconnected {
  background: @red;
  color: @base;  
}

#wireplumber.muted {
  background: @red;
  color: @base;
}

#wireplumber {
  color: @peach;
}

/* Специально для clock#time и clock#date */
#clock{
  color: @blue;
}